<div class="container text-center">
{{cake.name}} {{cake.flavor}} {{cake.frosting}}

<p>
  <img src={{cake.image}} alt={{cake.name}}>
</p>
{{update-cake cake=cake update="update"}}
<button {{action 'delete' cake}}>Delete</button>
</div>
