<!-- Located in {{cake.city}}, this {{cake.bedrooms}} bedroom {{cake.type}} is
available by arrangement through {{cake.owner}}. -->
<br>
<p><img src={{cake.image}} alt={{cake.name}}></p>
<button {{action 'updateCakeForm'}}>Update</button>
