
<div class="text-center">


<h2>More information about {{model.name}}</h2>

Flavor: {{model.flavor}} <br>
Frosting: {{model.frosting}} <br>

{{update-cake cake=model updateCake="updateCake"}}
<p><img src={{model.image}} alt={{model.name}}></p>

<!-- <button {{action 'updateCakeForm'}}>Update</button><br> -->
<button {{action 'delete' model}}>Delete</button>
</div>

<div id="loop">
  <h2>Comments:</h2>

  <ul>
    {{#each model.comments as |comment|}}
      <li>{{comment.username}}: {{comment.comment}}</li>
    {{/each}}
  </ul>

  {{new-comment saveComment="saveComment" cake=model}}

  <hr>


</div>
